.map {
  margin: 75px 0 55px 0;
  @include media-max(768) {
    margin-top: 35px;
    margin-bottom: 36px;
  }
  .search-panel {
    position: absolute;
    max-width: 693px;
    width: 100%;
    top: 39px;
    left: 50%;
    transform: translate(-50%, 0);
    @include media-max(1350) {
      top: 140px;
    }
    @include media-max(768) {
      max-width: 300px;
    }
  }
  &__container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
  }
  iframe {
    max-width: 1400px;
    width: 100%;
    max-height: 532px;
    @include media-max(480) {
      max-height: 393px;
    }
  }
}